@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-slate-800 antialiased font-sans;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  @apply tracking-tight font-bold text-slate-900;
}

.glass {
  @apply bg-white/70 backdrop-blur-lg border border-white/40 shadow-floating;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
